<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.onlineattendencesystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OnlineAttendenceSystem">
        <activity android:name=".TeacherForgotScreen"></activity>
        <activity android:name=".TeacherDashboardScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AdminDashboard"></activity>
        <activity android:name=".AdminLoginScreen" />
        <activity android:name=".TeacherLoginScreen" >

        </activity>
        <activity android:name=".StudentLoginScreen" />
        <activity android:name=".ConfirmScreen" />
        <activity android:name=".MainActivity">

        </activity>
    </application>

</manifest>